# 개수 세기

In [2]:
n=int(input())
n_list=list(map(int,input().split()))
v=int(input())
print(n_list.count(v))

5
2 3 4 2 2
2
3

- input() 대신에 sys.stdin.realine()을 사용하면 처리속도가 빠르고 메모리도 적게 소모함
- input()은 parameter로 prompt message를 받기 때문에 입력받기 전 이를 출력해야함
- sys.stdin.readline()은 개행문자를 포함한 값을 리턴함

# X보다 작은 수 | 10871번

In [10]:
n,x=map(int,input().split())
x_list=list(map(int,input().split()))
for i in range(n):
    if x_list[i]<x:
        print(x_list[i],end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [11]:
# 인상 깊은 code
n, x = map(int, input().split())
answer = ' '.join([i for i in input().split() if int(i) < x])
print(answer, end='')

10 4
1 2 3 4 5 6 7 7 9 10
1 2 3

# 최소,최대 | 10818번

In [15]:
n=int(input())
x_list=list(map(int,input().split()))
min=x_list[0]
max=x_list[0]
for i in range(n):
    if x_list[i]<min:
        min=x_list[i]
    if x_list[i]>max:
        max=x_list[i]
print(min,max)

5
20 10 35 30 7
7 35

# 최댓값 | 2562번

In [3]:
num_list=[]
for i in range(9):
    num_list.append(int(input()))
    
print(max(num_list))
print(num_list.index(max(num_list))+1)

2
1
2
3
4
5
6
7
8
8
9

# 공 넣기 | 10810번
- M : 공을 넣는 횟수
- N : 바구니 갯수
- i~j : 바구니에 공을 넣는 범위
- k : 공의 번호

ex) 2 5 6 : 2~5번 바구니까지 6번 공을 넣음

In [10]:
N,M=map(int,input().split())
box=[0]*N
for _ in range(M):
    i,j,k=map(int,input().split())
    for idx in range(i,j+1):
        box[idx-1]=k
for i in range(N):
    print(box[i],end=' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

# 공 바꾸기 | 10813번
- N : 바구니 갯수
- M : 공을 바꾸는 횟수

#### 참고할만한 코드
`basket = [i for i in range(1,N+1)]`

In [18]:
N,M=map(int,input().split())
box=[]
box_tmp=0
for idx in range(N):
    box.append(idx+1)
for _ in range(M):
    i,j=map(int,input().split())
    box_tmp=box[i-1]
    box[i-1]=box[j-1]
    box[j-1]=box_tmp
for i in range(N):
    print(box[i],end=' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

# 과제 안내신분 | 5597번

- n : 출석 번호 (1<=n<=30)

In [10]:
students=[0 for i in range(30)] # 0으로 reset
for i in range(28):
    st_idx=int(input())
    students[st_idx-1]=st_idx
for i in range(2):
    idx=stdents.index(0) # list에서 0인 함수만 찾기
    print(idx+1)
    students[idx]=-1

2
3
4
5
6
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

ValueError: invalid literal for int() with base 10: ''

In [11]:
students=[i for i in range(1,31)]
for _ in range(28):
    students.remove(int(input()))
print(min(students))
print(max(students))

22
2
2

ValueError: list.remove(x): x not in list

# 나머지 | 3052번

1. `set` 함수 사용
- 중복되는 함수를 제거한 후에 함수를 나열함(순서 상관 없이)

In [8]:
rest=[]
for i in range(10):
    rest.append(int(input())%42)    
    
result=set(rest)
print(len(result))

1
1
1
1
1
3
4
5
6
7
6

2. `for`문을 사용

In [9]:
rest=[]
for i in range(10):
    a=int(input())
    if a%42 not in rest:
        rest.append(a)
print(len(rest))

1
1
1
1
1
2
3
4
56
7
6

# 바구니 뒤집기 | 10811번

- 1,2,...,N 개의 바구니(왼쪽부터 1번)
- M번의 바구니 순서를 역으로 뒤집기

In [26]:
n,m=map(int,input().split()) #n 5 m 4
box=[i for i in range(1,n+1)] #[1 2 3 4 5]
for _ in range(m): #m 4
    i,j=map(int,input().split()) #i 1 i 2
    box[i - 1:j] = reversed(box[i - 1:j])
print(' '.join(map(str, box)))

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

####

In [20]:
1 N, M = map(int, input().split())
2 
3 basket = [n for n in range(1,N+1) ]
4 
5 for _ in range(M):
6   i, j = map(int, input().split())
7   temp = basket[i-1:j]
8   temp.reverse()
9   basket[i-1:j] = temp 
10   
11 for i in range(N):
12   print(basket[i], end=" ")

[3, 2, 1]

# 평균 | 1546번

In [ ]:
n=int(input())
for i in range(n):
    map(int,input().split)