### 예제 4-1 상하좌우

- n : 지도의 크기
- plans : R L U D

In [5]:
n = int(input())
plans = list(input().split()) 
x,y=1,1


dx=[0,0,-1,1]
dy=[-1,1,0,0]
move_types=['L','R','U','D']

for plan in plans:
    for i in range(len(move_types)):
        if plan == move_types[i]:
            nx = x + dy[i]
            ny = y + dx[i]
        
    if nx < 1 or ny < 1 or nx > n or ny > n :
        continue
    x, y = nx, ny

print(x,y)

2 3

### 예제 4-2 시각

정수 N이 입력되면 00시 00분 00초 부터 N시 59분 59초까지의 모든 시각 중에 3이 포함되는 모든 경우의 수

ex) 

n = 1 

00시 00분 00초 ~ 1시 59분 59초

- 00시 00분 03초
- 00시 33분 33초
- 00시 13분 30초
- ...

In [6]:
n = int(input())

count = 0
for i in range(n+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i) + str(j) + str(k):
                count+=1
print(count)

1575

### 왕실나이트

- L 자로만 이동 가능 
    - 수평 수평 수직
    - 수직 수직 수평
- 8x8 벗어나면 안 됨
- 이동 할 수 있는 경우의 수를 출력

In [18]:
input_data=input()
row = int(input_data[1])
column = (int(ord(input_data[0]) - int(ord('a')))) + 1

steps = [(2,1),(1,2),(-2,1),(-1,2),(-2,-1),(-1,-2),(2,-1),(2,-1)]

result = 0

for step in steps:
	next_row = row + step[0]
	next_column = column + step[1]

	if next_row >= 1 and next_row <= 8 and next_column >= 1 and next_column <= 8:
		result+=1

print(result)

2

In [23]:
input_data=input()
row = int(input_data[1])
column = (int(ord(input_data[0]) - int(ord('a')))) + 1

steps = [(2,1),(1,2),(-2,1),(-1,2),(-2,-1),(-1,-2),(2,-1),(2,-1)]

result = 0

for step in steps:
	next_row = row + step[0]
	next_column = column + step[1]

	if next_row >= 1 and next_row <= 8 and next_column >= 1 and next_column <= 8:
		result+=1

print(result)

6